package components

templ Header() {
	<nav class="flex flex-row justify-between items-center bg-gray-50 fixed z-50 h-16 w-full px-6 sm:px-12 shadow-md">
		<span class="text-purple-500 uppercase text-2xl font-semibold font-mono">Cerimonizo</span>
	</nav>
}
