package components

templ Header() {
	<nav class="flex flex-row justify-between items-center bg-gray-300 fixed z-50 h-[60px] w-full px-6 sm:px-12">
		<span class="text-purple-400 uppercase text-2xl font-semibold font-mono">Cerimonizo</span>
	</nav>
}
