package layout

templ Base() {
	<html>
		<head>
			<link rel="stylesheet" href="public/styles.css"/>
		</head>
		<body>
			@header()
			{ children... }
			@footer()
		</body>
	</html>
}

templ header() {
	<header>
		This is from base layout
	</header>
}

templ footer() {
	<footer>
		by VAS
	</footer>
}
